body {
    font-family: Raleway;

}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 20px;
    color: grey;
}

#header {
    padding-top: 100px;

}

#nav-links {
    margin-bottom: 20px;
    margin-top: 20px;
}

#nav-links a {
    color: grey;
    padding-left: 35px;
    padding-right: 35px;
}

.center {
    margin: auto;
  
}

.general-img {
    margin-bottom: 30px;
    width:80%
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.milkdud {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 30px;
}

#welcome-info {

}

#welcome-date {
    padding-top:30px;

}

#welcome-date h2, #welcome-date h4 {
    text-align: center;
}

.schedule-content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.headline {
    font-weight: bolder;
}

.container {
    padding-bottom: 200px;
}

.bread-photo {
    margin-left: 50px;
}
